@import '_variables';

#chat-interface {
    background: black;
    width: 100%;
    height: 100vh;
    color: $primary-color;

    // Flex
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    #inputs-interface {
        background-color: $secondary-color;
        width: 100%;
        height: 54px;
        position: relative;
        display: flex;
        align-items: center;
        // padding-left: 20px;
        // padding-right: 20px;
        border-top: 1px solid $border-primary;

        #ifc-stacker-1 {
            width: 100%;
            display: flex;
            align-items: center;

            .icons-for * {
                color: $spicy-color;
            }

            #ifc-stacker-2 {
                margin-right: 15px;
                margin-left: 15px;
            }

            #message-field {
                color: $primary-color;
            }

            #send-button {
                margin-right: 10px;
                margin-left: 20px;
            }
        }
    }

    #discussion-body {
        padding-top: 20px;
        // background-color: red;
        overflow-y: scroll;
        height: 100%;
        // background-image: url("../public/svg/logo-chromochat-gray-ic.svg");
        // background-repeat: no-repeat;
        // background-size: 150px;
        // background-position: center;

        #beginning--txt {
            padding: 10px;
            padding-bottom: 20px;
            color: $border-secondary;
        }
    }
}