@import '../../styles/base/variables';
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Playwrite+CU:wght@100..400&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,500&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    overflow-x: hidden;
}

main {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#main-container {
    width: 100%;
    max-height: 100vh;
    background: $secondary-color;
    color: $primary-color;

    .signup__modal {
        // Targeting the paper element inside the modal
        background-color: red;
    }

    #flex-container-divider {
        max-height: 100vh;
        width: 100%;

        #part-1 {
            width: 100%;
            height: 100%;
            margin-left: 50px;
            // background-color: green;

            #wrapper__1 {
                width: 70%;
                height: 100%;
                // // //
                margin: 50px;
                // background-color: lightgreen;

                .wrapper1__stacker {
                    margin-bottom: 20px;
                    align-items: flex-start;

                    .logo-title {
                        color: rgb(246, 237, 237);
                        align-self: flex-end;

                        font: {
                            size: 45px;
                            weight: 400;
                            family: "Cabin", sans-serif;
                        }

                        font-optical-sizing: auto;
                    }

                }

                #main-h1 {
                    background-image: linear-gradient(250.6deg, #ff8403ff 23.2%, #dd0ea9 91.1%);
                    background-clip: text;
                    color: transparent;
                    padding: 5px;

                    font: {
                        weight: 700;
                        size: 10.5vh;
                    }
                }

                #main-h2 {
                    font: {
                        weight: 700;
                        size: 4vh;
                    }

                    margin-top: 45px;
                    margin-bottom: 26px;
                }

                #box-1 {
                    width: 79%;

                    #box-1-inner1 {
                        display: flex;
                        flex-direction: column;
                        gap: 9px;
                        width: 100%;

                        .signup-with-_ {
                            width: 100%;
                            padding: 10px;
                            border-radius: 50px;
                            background-color: $primary-color;
                            color: $secondary-color;
                        }
                    }

                    #box-1-inner2 {
                        width: 100%;

                        #divider {
                            margin: 0;
                            color: $grey-color;

                            font-family: Arial;

                            // divider border
                            &::before,
                            &::after {
                                border-color: $border-primary;
                            }
                        }
                    }

                    #create-account-box {
                        width: 100%;

                        #create-account-button {
                            width: 100%;
                            padding: 10px;
                            border-radius: 50px;
                            background-image: linear-gradient(29.6deg, rgba(255, 12, 178, 0.985) 10.2%, rgba(252, 76, 2, 1) 50.2%);
                        }

                        #terms-of-service {
                            margin-top: 5px;
                            color: $grey-color;

                            font: {
                                size: 12px;
                                weight: 400;
                            }
                        }
                    }

                    #sign-in-box {
                        margin-top: 50px;
                        display: flex;
                        align-items: baseline;
                        gap: 10px;

                        #sign-in-button {
                            color: #1a8cd8;
                        }
                    }
                }
            }

        }

        #part-2 {
            // background-color: grey;
            display: flex;
            align-items: center;
            margin-left: 180px;
            width: 50%;


            #hero-logo-banner {
                // background-color: #fff;
                width: 450px;
            }
        }
    }
}

.MuiModal-root {
    // Targeting the paper element inside the modal
    background-color: #29364476;
}