@import '../../../../styles/base/variables';

#part-1 {
    background: black;
    width: 6%;
    border-right: 1px solid $border-primary;

    .stacked-p1 {
        margin-top: 15px;
        height: 100%;

        text-align: center;

        #logo-main {
            margin-bottom: 20px;
        }

        #icons-stacker-1 {
            height: 100%;
            align-items: center;
            gap: 5px;
        }
    }
}