/* variables */

// colors
$primary-color: #eeeeee;
$secondary-color: black;
$grey-color: #787a7a;
$light-dark-color: #657786;
$border-primary: #2c2e31;
$border-secondary: #0c0c0c;
$spicy-color: #E1E8ED;