//variables
$primary-color: #eeeeee;
$secondary-color: black;
$grey-color: #787a7a;
$light-dark-color: #657786;
$border-primary: #2c2e31;
$spicy-color: #E1E8ED;

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#main-container {
    width: 100%;
    max-height: 100vh;
    background: $secondary-color;
    color: $primary-color;

    #flex-container-divider {
        max-height: 100vh;
        width: 100%;

        #part-1 {
            width: 60%;
            height: 100%;
            // background-color: green;

            #wrapper__1 {
                width: 60%;
                height: 100%;
                // // //
                margin: 10%;
                margin-left: 24%;
                // background-color: lightgreen;

                #main-h1 {
                    background-image: linear-gradient(109.6deg, rgba(103, 30, 117, 1) 11.2%, rgba(252, 76, 2, 1) 91.1%);
                    background-clip: text;
                    color: transparent;
                    padding: 5px;

                    font: {
                        weight: 700;
                        size: 10vh;
                    }
                }

                #main-h2 {
                    font: {
                        weight: 700;
                        size: 4vh;
                    }

                    margin-top: 50px;
                    margin-bottom: 30px;
                }

                #box-1 {
                    width: 75%;

                    #box-1-inner1 {
                        display: flex;
                        flex-direction: column;
                        gap: 9px;
                        width: 100%;

                        .signup-with-_ {
                            width: 100%;
                            padding: 10px;
                            border-radius: 50px;
                            background-color: $primary-color;
                            color: $secondary-color;
                        }
                    }

                    #box-1-inner2 {
                        width: 100%;

                        #divider {
                            margin: 0;
                            color: $grey-color;

                            font-family: Arial;

                            // divider border
                            &::before,
                            &::after {
                                border-color: $border-primary;
                            }

                        }
                    }

                    #create-account-box {
                        width: 100%;

                        #create-account-button {
                            width: 100%;
                            padding: 10px;
                            border-radius: 50px;
                            background-image: linear-gradient(29.6deg, rgba(103, 30, 117, 0.766) 11.2%, rgba(252, 76, 2, 1) 91.1%);
                        }

                        #terms-of-service {
                            margin-top: 5px;
                            color: $grey-color;

                            font: {
                                size: 12px;
                                weight: 400;
                            }
                        }
                    }

                    #sign-in-box {
                        margin-top: 70px;
                        display: flex;
                        align-items: baseline;
                        gap: 10px;

                        #sign-in-button {
                            color: #1a8cd8;
                        }
                    }
                }
            }

        }

        #part-2 {
            // background-color: grey;
            width: 50%;
            height: 100vh;
            display: flex;
            align-items: center;

            #hero-logo-banner {
                // background-color: #fff;
            }
        }
    }


}



.MuiDivider-middle {}