@import '../../../styles/base/variables';

#chat-interface {
    background: black;
    width: 100%;
    height: 100vh;
    color: $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}